
<h2>Add new business</h2>
<br>

<br>

<div class="easybooker-div">

  <form>

    <div id="preview" class="preview">
      <!--<img [src]="{{!this.selectedFile ? noImageURL : url}}">-->
      <!--<img id="selectedImage" *ngIf="this.selectedFile" [src]="url">-->
      <img id="selectedImage" [src]="this.selectedFile ? url : noImageURL" />
    </div>
    <br>



    <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
    <button mat-raised-button *ngIf="!this.selectedFile" (click)="fileInput.click()">Select image</button>
    <button mat-raised-button *ngIf="this.selectedFile" (click)="removeFile()">Remove image</button>
    <button mat-raised-button *ngIf="this.selectedFile" (click)="fileInput.click()">Change image</button>
    <br>


    <mat-form-field class="example-full-width">
      <input matInput  type="text" placeholder="Name" name="name" [(ngModel)]="business['name']" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput  type="text" placeholder="Summary" name="summary" [(ngModel)]="business['summary']"/>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput  type="text" placeholder="Email Address" name="email" [(ngModel)]="business['email']"/>
    </mat-form-field>

    <br/>


    <button mat-raised-button (click)="addBusiness()">Create business</button>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

  </form>


  </div>
