
<h2>Add new business</h2>
<br>






<!--<p-growl [value]="msgs"></p-growl>-->

<!--<h3 class="first">Advanced</h3>-->
<!--<p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"-->
              <!--multiple="multiple" accept="image/*" maxFileSize="1000000">-->
  <!--<ng-template pTemplate="content">-->
    <!--<ul *ngIf="uploadedFiles.length">-->
      <!--<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>-->
    <!--</ul>-->
  <!--</ng-template>-->
<!--</p-fileUpload>-->

<!--<h3>Basic</h3>-->
<!--<p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBa
<h3>Basic with Auto</h3>sicUpload($event)"></p-fileUpload>-->

<!--<p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)" auto="true" chooseLabel="Browse"></p-fileUpload>-->









<br>

<div class="easybooker-div">

  <form>

    <!--<p-fileUpload name="image" url="http://localhost:8080/businesses/5/images" method="POST">Upload</p-fileUpload>-->
    <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
    <button mat-raised-button (click)="fileInput.click()">Pick an image</button>
    <!--<button mat-raised-button (click)="onUpload()" >Upload</button>-->


    <mat-form-field class="example-full-width">
      <input matInput  type="text" placeholder="Name" name="name" [(ngModel)]="business['name']" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput  type="text" placeholder="Summary" name="summary" [(ngModel)]="business['summary']"/>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput  type="text" placeholder="Email Address" name="email" [(ngModel)]="business['email']"/>
    </mat-form-field>

    <br/>


    <button mat-raised-button (click)="addBusiness()">Create business</button>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

  </form>


  </div>
