<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Easybooker</span>

    <span class="example-spacer"></span>

    <ng-container *ngIf="!this.authenticated">
      <button mat-button routerLink="sign-up" >Sign up</button>
      <button mat-button routerLink="login">Log in</button>
    </ng-container>

    <ng-container *ngIf="this.authenticated">
      <button mat-button routerLink="">Home</button>
      <button mat-button routerLink="about">About</button>
      <button mat-button routerLink="business" >Add business</button>
      <button mat-button routerLink="login" (click)="removeToken()">Log out</button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
