<mat-card>
  <mat-card-content>
    <button i18n mat-raised-button (click)="goToBusiness()">Go to business</button>
    <h2 class="example-h2">{{service.name}}</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab i18n-label label="Service info">
        <div class="demo-tab-content">
          <img class="img" src='http://localhost:8080/images/services/{{service.id}}/image.png'/>
          <br>
          <br>
          <p i18n> Description: </p><p>{{service.description}} </p>
          <br>
          <br>
          <p i18n> Price: </p><p>{{service.price}} </p>
          <p i18n> TimeDuration: </p><p>{{service.timeDuration}} </p>
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Locations">
        <div class="col">
        <span *ngFor="let location of locations">

           <button class="block" mat-raised-button (click)="showLocation(location)">
             <img class="img" src='http://localhost:8080/images/locations/{{location.id}}/image.png'/>
             <p>{{location.address}}</p>
          </button>

        </span>
        </div>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>

<!--<ng-container *ngIf="this.businessInfoService.getCurrentLocation()">-->
  <!--<button mat-button>BOOK IT !</button>-->
<!--</ng-container>-->
