<mat-card>
  <mat-card-content>
    <h2 class="example-h2">{{business.name}}</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Business info">
        <div class="demo-tab-content">
          {{business.summary}}
          <br>
          <br>
          <p> Email: {{business.email}} </p>
        </div>
      </mat-tab>
      <mat-tab label="Locations">
        <div class="col">
        <span *ngFor="let location of locations">
          <button mat-raised-button (click)="showLocation(location)">{{location['address']}}</button> <br>
        </span>
        </div>
      </mat-tab>
      <mat-tab label="Services">
        <div class="col">
        <span *ngFor="let service of services">
          <button mat-raised-button >{{service['name']}} timeDuration: {{(service['timeDuration'])['hours']}}</button> <br>
        </span>
        </div>
      </mat-tab>
      <mat-tab label="Employees">
        No content
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>
