<mat-card>
  <mat-card-content>
    <h2 class="example-h2">{{business.name}}</h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab i18n-label label="Business info">
        <div class="demo-tab-content">
          <img class="img"
               src='http://localhost:8080/images/businesses/{{business.id}}/image.png'
               onerror="this.src='../../assets/images/noImageSelected.jpg'"
               onabort="this.src='../../assets/images/noImageSelected.jpg'"/>
          <br>
          <br>
          <p i18n> Description:</p><p>{{business.description}} </p>
          <br>
          <p i18n> Email: </p><p>{{business.email}} </p>
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Locations">
        <div class="col">
        <span *ngFor="let location of locations">

          <button class="block" mat-raised-button (click)="showLocation(location)">
             <img class="img"
                  src='http://localhost:8080/images/locations/{{location.id}}/image.png'
                  onerror="this.src='../../assets/images/noImageSelected.jpg'"
                  onabort="this.src='../../assets/images/noImageSelected.jpg'"/>
             <p>{{location.address}}</p>
          </button>

        </span>
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Services">
        <div class="col">
        <span *ngFor="let service of services">

          <button class="block" mat-raised-button (click)="showService(service)">
            <img class="img"
                 src='http://localhost:8080/images/services/{{service.id}}/image.png'
                 onerror="this.src='../../assets/images/noImageSelected.jpg'"
                 onabort="this.src='../../assets/images/noImageSelected.jpg'"/>
             <p>{{service.name}}</p>
          </button>

        </span>
        </div>
      </mat-tab>

      <!--<mat-tab label="Employees">-->
        <!--No content-->
      <!--</mat-tab>-->

    </mat-tab-group>
  </mat-card-content>
</mat-card>
