<script src="my-bookings.component.ts"></script><h2 i18n>Review your bookings...</h2>
<br>

<mat-card>
  <mat-card-content >

    <button i18n mat-raised-button color="primary" > Business </button>
    <button i18n mat-raised-button color="primary" > Address </button>
    <button i18n mat-raised-button color="primary" > Service </button>
    <button i18n mat-raised-button color="primary" > Date </button>
    <button i18n mat-raised-button color="primary" > Time </button>

  </mat-card-content>
</mat-card>


<mat-card *ngFor="let booking of bookings">
  <mat-card-content >

    <button class="block" *ngIf="this.loadedBusinesses == true" mat-raised-button >
      <img class="img"  src='{{this.apiService.getAPI()}}/images/businesses/{{business.id}}/image.png'/>
      <p>{{business.name}}</p>
    </button>

  <button i18n mat-raised-button (click)="showBusiness(booking)" color="warn">{{booking.businessName}}</button>
  <button i18n mat-raised-button (click)="showLocation(booking)" color="warn">{{booking.locationAddress}}</button>
  <button i18n mat-raised-button (click)="showService(booking)" color="warn">{{booking.serviceName}}</button>
    <button i18n mat-raised-button color="warn">{{booking.date | date}}</button>
    <button i18n mat-raised-button color="warn">{{booking.beginTime[0] + ":" + booking.beginTime[1]}}</button>

    </mat-card-content>
</mat-card>
