<h2 i18n>Your businesses, locations and services </h2>

<!--<div class="container">-->

  <!--<div class="easybooker-div form-group">-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">-->
    <!--</mat-form-field>-->
  <!--</div>-->

  <!--<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">-->
    <!--<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>-->
  <!--</agm-map>-->

<!--</div>-->

<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab i18n-label label="Businesses">
        <div class="col">
          <span class="life-container" *ngFor="let business of businesses">
              <button class="block" mat-raised-button (click)="showBusiness(business)">
                <img class="img"
                     src='{{this.apiService.getAPI()}}/images/businesses/{{business.id}}/image.png'
                     onerror="this.src='../../assets/images/noImageSelected.jpg'"
                     onabort="this.src='../../assets/images/noImageSelected.jpg'"/>
                <p>{{business.name}}</p>
                <div class="button-row">
                  <button mat-raised-button color="primary" (click)="editBusiness()" class="delete-button">Edit</button>
                  <button mat-raised-button color="warn" (click)="deleteBusiness()" class="delete-button">Delete</button>
                </div>
                <div class="button-row">
                  <button mat-raised-button color="primary" (click)="showBusinessBookings()" class="edit-button">Show bookings</button>
                </div>
              </button>
          </span>
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Locations">
        <div class="col">
        <span class="life-container" *ngFor="let location of locations">
            <button class="block" mat-raised-button (click)="showLocation(location)">
               <img class="img"
                    src='{{this.apiService.getAPI()}}/images/locations/{{location.id}}/image.png'
                    onerror="this.src='../../assets/images/noImageSelected.jpg'"
                    onabort="this.src='../../assets/images/noImageSelected.jpg'"/>
               <p>{{location.address}}</p>
               <div class="button-row">
                  <button mat-raised-button color="primary" (click)="editBusiness()" class="delete-button">Edit</button>
                  <button mat-raised-button color="warn" (click)="editLocation()" class="delete-button">Delete</button>
                </div>
              <div class="button-row">
                  <button mat-raised-button color="primary" (click)="showLocationBookings()" class="edit-button">Show bookings</button>
                </div>
            </button>
        </span>
        </div>
      </mat-tab>
      <mat-tab i18n-label label="Services">
        <div class="col">
        <span *ngFor="let service of services">

          <button class="block" mat-raised-button (click)="showService(service)">
            <img class="img"
                 src='{{this.apiService.getAPI()}}/images/services/{{service.id}}/image.png'
                 onerror="this.src='../../assets/images/noImageSelected.jpg'"
                 onabort="this.src='../../assets/images/noImageSelected.jpg'"/>
             <p>{{service.name}}</p>
             <div class="button-row">
                  <button mat-raised-button color="primary" (click)="editService()" class="delete-button">Edit</button>
                  <button mat-raised-button color="warn" (click)="editService()" class="delete-button">Delete</button>
                </div>
            <div class="button-row">
                  <button mat-raised-button color="primary" (click)="showServiceBookings()" class="edit-button">Show bookings</button>
                </div>
          </button>

        </span>
        </div>
      </mat-tab>


    </mat-tab-group>
  </mat-card-content>
</mat-card>
