<h2 i18n>Add locations to the business</h2>
<br>

<div class="easybooker-div">
<form>

  <div id="preview" class="preview">
    <img id="selectedImage" [src]="this.selectedFile ? url : noImageURL" />
  </div>

  <br>

  <div id="previewButtons">
    <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
    <button mat-raised-button i18n *ngIf="!this.selectedFile" (click)="fileInput.click()">Select image</button>
    <button mat-raised-button i18n *ngIf="this.selectedFile" (click)="removeFile()">Remove image</button>
    <button mat-raised-button i18n *ngIf="this.selectedFile" (click)="fileInput.click()">Change </button>
  </div>
  <br>

  <mat-form-field class="example-full-width">
    <input matInput i18n-placeholder type="text" placeholder="Address" name="locationAddress" [(ngModel)]="location['address']" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput i18n-placeholder type="text" placeholder="Description" name="serviceDescription" [(ngModel)]="location['description']"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput i18n-placeholder type="text" placeholder="Number" name="locationNumber" [(ngModel)]="location['number']"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput i18n-placeholder type="text" placeholder="Email" name="locationEmail" [(ngModel)]="location['email']"/>
  </mat-form-field>

  <div class="col">
    <span *ngFor="let service of services">
    <mat-checkbox color="warn"
                  name="{{service['name']}}"
                  value="{{service['name']}}"
                  (change)="change($event, service)">
         {{service['name']}}
    </mat-checkbox>
</span>
  </div>

  <!--<p> Selected value: {{selectedServices | json}} </p>-->

  <br/>



  <br>

  <button mat-raised-button (click)="addLocation()">Add location</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

  <button mat-raised-button (click)="finish()">I'm done</button>


</form>
</div>
