.img{
  height: 230px;
  width: 230px;
}


.block{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 45px;
}

agm-map {
  height: 300px;
}

//.demo-tab-content{
//  width: 50px;
//}

mat-grid-tile {
  background: lightblue;
}

opa{
  width: 150px;
  margin-left: 20px;
}
